@use 'src/assets/styles/sizes';

.center-layout {
  max-width: sizes.$screen-desktop-l;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: sizes.$screen-mobile-m) {
    padding: 0 10px;
  }
}
